{{> Navbar}}

    <div id="home" class="hero" >
        <div id="textoPrincipal" class="col-10 offset-1">

            <h1>Hecho por gente que sabe de lácteos</h1>

        </div>
    </div>

{{> Historia}}

{{>Nosotros}}

{{>Contacto}}

{{>GaleriaRural}}

