{{> Navbar}}

    <div id="home" class="align-items-center hero">
        <div id="textoPrincipal" class="col-lg-3 col-sm-12 offset-lg-1 offset-sm-1">

            <h1>Hecho por gente que sabe de lácteos</h1>
            <p>Nuestra familia lleva años en el rubro respentando cada tipo de materia prima para asegurarte sabores
                auténticos, naturales y deliciosos.</p>
            <p id="lugar">Ñanducita, nuestro lugar</p>
        </div>
    </div>

{{> Historia}}

{{>Nosotros}}

{{>Contacto}}

{{>GaleriaRural}}

