body {
    overflow-x: hidden;
    font-family: 'Fredoka', sans-serif;;
}

.carousel {
    max-width: 80%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#carouselExampleControls .boton {
    width: 5rem;
    height: 25rem; 
}

.actores {
        max-width: 100%;
        min-height: 100vh;
        justify-content: center;
}

.acordeon {
    margin-top: 6rem;
}

.carruselBoton {
    height: 25rem;
}

.btnCollapse {
    max-width: 50%;
}
.botones {
    display: flex;
    justify-content:space-around;
}
