body {
    overflow-x: hidden;
    font-family: 'Fredoka', sans-serif;;
}

.carousel {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    max-width: 40rem;
}

#carouselExampleControls .boton {
    width: 5rem;
    height: 25rem; 
}

.actores {
        max-width: 100%;
        min-height: 100vh;
        justify-content: center;
}
