{{> Navbar}}

 <div id="historia" class="row align-items-center py-4 mt-5 col-md-12 fondo">
        <div class="col-lg-6 col-md-6 offset-1 d-none d-sm-block">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-5 mt-4">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus laudantium tempora officia corrupti
                voluptates vel atque totam sit magnam voluptatum cumque unde excepturi voluptate ut, quae iste
                possimus
                culpa. Officiis! </p>
        </div>
    </div>