 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fs-5">
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Visitanos">Visitanos</a>
                </li>
            </ul>
        </div>
    </nav>

 <div id="historia" class="row align-items-center py-4 mt-5 col-md-12">
        <div class="col-lg-6 col-md-6 offset-1 d-none d-sm-block">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus laudantium tempora officia corrupti
                voluptates vel atque totam sit magnam voluptatum cumque unde excepturi voluptate ut, quae iste
                possimus
                culpa. Officiis! </p>
        </div>
    </div>