 <!-- Navbar -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fs-5">
                <li class="nav-item active">
                    <a class="nav-link" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Visitanos">Visitanos</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Primer vistazo -->

    <div id="home" class="align-items-center hero">
        <div id="textoPrincipal" class="col-lg-3 offset-lg-1 offset-sm-1">

            <h1>Hecho por gento que sabe de lácteos</h1>
            <p>Nuestra familia lleva años en el rubro respentando cada tipo de materia prima para asegurarte sabores
                auténticos, naturales y deliciosos.</p>
            <p id="lugar">Ñanducita, nuestro lugar</p>
        </div>
    </div>

    <div id="historia" class="row align-items-center py-4 mt-5 col-md-12">
        <div class="col-lg-6 col-md-6 offset-1 d-none d-sm-block">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus laudantium tempora officia corrupti
                voluptates vel atque totam sit magnam voluptatum cumque unde excepturi voluptate ut, quae iste
                possimus
                culpa. Officiis! </p>
        </div>
    </div>


    <div class="container" id="nosotros">
        <div class="row">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col">
                    <div class="card">
                        <img src="./images/Campo1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rural</h5>
                            <p class="card-text">El lugar donde obtenemos nuestra materia prima.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/empleados-fabrica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fábrica</h5>
                            <p class="card-text">Mediante procesos de calidad y cuidado de todos los ingredientes
                                elaboramos.
                                Este es el lugar donde nace NUESTRO PRODUCTO</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/caffito.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Caffito</h5>
                            <p class="card-text">Para garantizarte una gran experiencia a la hora de adquirir tus
                                productos
                                contamos con nuestro propio punto de venta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lista Novedades y Testimonios -->

    <div id="novedades" class="row py-4 mt-5 col-md-12">
        <div class="col-md-5 offset-md-1 mx-auto py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/Campo4.jpeg">Rural</a>
                </li>
                <li><a href="#"><img src="./images/fabrica.jpg">Fábrica</a></li>
                <li><a href="#"><img src="./images/quesoHolanda.jpeg">Productos</a></li>
                <li><a href="#"><img src="images/caffito.jpg">Punto de Venta</a></li>
            </ul>
        </div>

        <div class="col-5 col-sm-11 col-md-6 my-auto">
            <div class="rounded py-3 testimonios">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators my-auto">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner  text-center">
                        <h2 class="mb-5">Testimonios</h2>
                        <div class="carousel-item active mb-5">
                            <h5>Buen lugar
                                Confortable. Bien atendido.</h5>
                            <p>Victor Raul Lopez, Local Guide</p>
                        </div>
                        <div class="carousel-item mb-5">
                            <h5> Riquísimos quesos y excelente atención!</h5>
                            <p>Franco Amatilli, Local Guide</p>
                        </div>
                        <div class="carousel-item mb-5">
                            <h5> Muy buena gente</h5>
                            <p>Luciano Bussi, Local Guide</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

     <!-- Visitanos -->

    <div id="visitanos" class="row py-4 mx-auto offset-lg-1">

        <h2>Visitanos</h2>
        <div class="embed-responsive row col-md-6 col-sm-10 embed-responsive-16by9">
            <h3>Rural</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27530.145697819866!2d-61.12748444080354!3d-30.400131299350083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a88446b32f717%3A0x51633cc46b3f35b0!2sCaffaLac!5e0!3m2!1ses!2sar!4v1647868345823!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="embed-responsive row col-md-6 col-sm-10 embed-responsive-16by9">
            <h3>Local Comercial</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5792.466908188457!2d-61.22526018494108!3d-30.3162188518866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a7bf8ac21bee5%3A0x8befead84e1a3da4!2sDistribuidora%20Caffito!5e0!3m2!1ses!2sar!4v1647871056691!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- Contactanos -->

    <div class="col-md-6 mt-5 mx-auto mt-sm-5">
        <h2 class="text-center">Contactanos</h2>
        <form>
            <div class="form-row">
                <div class="row mx-1 col-md-12 col-sm-12">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="email">EMAIL</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com">
                </div>
                <div class="form-group my-2">
                    <label for="tel">Teléfono</label>
                    <input type="text" id="telefono" class="form-control" placeholder="Ingrese su Número">
                </div>
                <div class="form-group my-2">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-danger my-2">Enviar</button>
            </div>
        </form>
    </div>
    <!-- Pie -->

    <footer>
            <p class="text-center">Diseñado por: Denis Peralta</p>
        </footer>