 <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white px-5">
        <a class="navbar-brand" href="/" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav fs-5 px-3 mt-3 text-center">
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="Historia">Historia</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="Visitanos">Visitanos</a>
                </li>
            </ul>
        </div>
    </nav>


    
   <div class="container" id="nosotros">
        <div class="row">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col">
                    <div class="card">
                        <img src="./images/Campo1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rural</h5>
                            <p class="card-text">El lugar donde obtenemos nuestra materia prima.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/empleados-fabrica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fábrica</h5>
                            <p class="card-text">Mediante procesos de calidad y cuidado de todos los ingredientes
                                elaboramos.
                                Este es el lugar donde nace NUESTRO PRODUCTO</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/caffito.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Caffito</h5>
                            <p class="card-text">Para garantizarte una gran experiencia a la hora de adquirir tus
                                productos
                                contamos con nuestro propio punto de venta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
<div id="novedades" class="row py-4 mt-5 col-md-12">
        <div class="col-md-5 offset-md-1 mx-auto py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/Campo4.jpeg">Rural</a>
                </li>
                <li><a href="#"><img src="./images/fabrica.jpg">Fábrica</a></li>
                <li><a href="#"><img src="./images/quesoHolanda.jpeg">Productos</a></li>
                <li><a href="#"><img src="images/caffito.jpg">Punto de Venta</a></li>
            </ul>
        </div>

        <div class="col-5 col-sm-11 col-md-6 my-auto">
            <div class="rounded py-3 testimonios">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators my-auto">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner  text-center">
                        <h2 class="mb-5">Testimonios</h2>
                        <div class="carousel-item active mb-5">
                            <h5>Buen lugar
                                Confortable. Bien atendido.</h5>
                            <p>Victor Raul Lopez, Local Guide</p>
                        </div>
                        <div class="carousel-item mb-5">
                            <h5> Riquísimos quesos y excelente atención!</h5>
                            <p>Franco Amatilli, Local Guide</p>
                        </div>
                        <div class="carousel-item mb-5">
                            <h5> Muy buena gente</h5>
                            <p>Luciano Bussi, Local Guide</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
