 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fs-5">
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Visitanos">Visitanos</a>
                </li>
            </ul>
        </div>
    </nav>

    
   <div class="container" id="nosotros">
        <div class="row">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col">
                    <div class="card">
                        <img src="./images/Campo1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rural</h5>
                            <p class="card-text">El lugar donde obtenemos nuestra materia prima.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/empleados-fabrica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fábrica</h5>
                            <p class="card-text">Mediante procesos de calidad y cuidado de todos los ingredientes
                                elaboramos.
                                Este es el lugar donde nace NUESTRO PRODUCTO</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./images/caffito.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Caffito</h5>
                            <p class="card-text">Para garantizarte una gran experiencia a la hora de adquirir tus
                                productos
                                contamos con nuestro propio punto de venta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>