 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fs-5">
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="Visitanos">Visitanos</a>
                </li>
            </ul>
        </div>
    </nav>

 
  <div id="visitanos" class="row py-4 mx-auto offset-lg-1">

        <h2>Visitanos</h2>
        <div class="embed-responsive row col-md-6 col-sm-10 embed-responsive-16by9">
            <h3>Rural</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27530.145697819866!2d-61.12748444080354!3d-30.400131299350083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a88446b32f717%3A0x51633cc46b3f35b0!2sCaffaLac!5e0!3m2!1ses!2sar!4v1647868345823!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="embed-responsive row col-md-6 col-sm-10 embed-responsive-16by9">
            <h3>Local Comercial</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5792.466908188457!2d-61.22526018494108!3d-30.3162188518866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a7bf8ac21bee5%3A0x8befead84e1a3da4!2sDistribuidora%20Caffito!5e0!3m2!1ses!2sar!4v1647871056691!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

 <div class="col-md-6 mt-5 mx-auto mt-sm-5">
        <h2 class="text-center">Contactanos</h2>
        <form>
            <div class="form-row">
                <div class="row mx-1 col-md-12 col-sm-12">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="email">EMAIL</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com">
                </div>
                <div class="form-group my-2">
                    <label for="tel">Teléfono</label>
                    <input type="text" id="telefono" class="form-control" placeholder="Ingrese su Número">
                </div>
                <div class="form-group my-2">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-danger my-2">Enviar</button>
            </div>
        </form>
    </div>