<div class="container" style="margin:50px auto">
    <div class="row bg-black">
        <div class="col">
            <h1 class="text-right">Hola {{ usuario }}</h1> 
            <h1 class="text-right">Has ingresado como administrador</h1> 
            <a href="/admin/login" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sing-out"></i></a>   
        </div>
    </div>
</div>