h2, h3 {
    color: rgb(0, 0, 0);
}

h1 {
    color:#dadada
}

body {
    background: url(../images/crema.jpg) no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.hero {
    display: flex;
    background: url(../images/Campo3.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    color: white;
}

#containerContacto {
    background: url(../images/Campo4.jpeg) no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 10px;
}

#logoCaffalac {
    margin-left: 2vh;
    display: flex;
    position: fixed;
    z-index: 999;
    height: 0px;
}


#textoPrincipal {
    width: 70%;
    margin-top: 30rem;
    font-size: large;
}

#textoPrincipal h1{
    text-shadow: 2px 2px #565758;
    color: white;
}

#lugar {
    text-align: end;
    margin-top: 2rem;
}

#nosotros {
    margin-top: 120px;

}

#containerNosotros {
    padding-top: 8px;
    background-color: #9c9d9e57;
    min-height: 100vh;
}

#nosotros img {
    border-radius: 2rem;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;

}

.lista-novedades li a {
    background-color: transparent;
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
    transition: all .5s ease-in-out;
    display: block;
}

.lista-novedades li a:hover {
    color: #212529;
    background-color:#999a9b93
}

.lista-novedades li a img {
    width: 120px;
    height: 55px;
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.8;
}

.lista-novedades li a:hover img {
    filter: grayscale();
    margin-right: 2rem;
    opacity: 1;
}

.testimonios {
    background-color: #dadada;
    padding-bottom: 4rem !important;
    background-color: transparent;
}

.testimonio {
    text-align: center;
    padding: 50px 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}
.carousel-control-prev-icon::after, .carousel-control-next-icon:after {
    font-family: "FontAwesome";
    font-size: 30px;
    color: #000;
}

.carousel-indicators li {
    background-color: #000;
}

.staff {
    background: #efefef;
}

#historia {
    height: 100vh;

}

#contacto {
    min-height: 65vh;
    margin-top: 5rem;
}

.card {
    background-color: transparent !important;
    border: transparent !important;
}

#formulario {
    color: white;
    font-size: large;
}

#message {
    display: inline-flex;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 151, 14);
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
}

/* Menu Hamburguesa */

.panel {
    position: fixed;
    display: flex;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(141, 141, 141, 0.87);
    justify-content: center;
    transform: translate(0, -100%);
    transition: transform .4s ease;
}

.panel.is-active {
    transform: translate(0,0);
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15vh;
    align-items: center;
    text-align: center;
    font-weight: 600;
}   

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: red;
    font-size: 40px;

}

.panel-btn {
    position: fixed;
    z-index: 999;
    top: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
}

/* Galeria de imagenes */

.carouselImage img{
    max-height: 60vh;
    display: flex;
    margin: auto;
    margin-top: 20vh;
}

.carousel2 {
    max-width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.galeria {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    background-color:rgba(7, 7, 7, 0.822);
    transform: translate(0, -100%);
    transition: transform .4s ease; 
}

.galeria.is-active {
    transform: translate(0,0);
}

.carousel-Image {
    display: flex;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.panel {
    position: fixed;
    display: flex;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(141, 141, 141, 0.87);
    justify-content: center;
    transform: translate(0, -100%);
    transition: transform 
    .4s ease;
}

.panel.is-active {
    transform: translate(0,0);
}

.panel-btn2 {
    
    color: white !important;
    position: fixed;
    z-index: 1000;
    top: 10vh;
    right: 5vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
}

