<div id="containerContacto">
    <div id="contacto" class="row mx-auto offset-lg-1 d-flex justify-content-around">

        <div class="embed-responsive row col-md-4 col-sm-10 embed-responsive-16by9 map">
            <h1 class="text-center">Rural</h1>
            <iframe data-aos="zoom-in" data-aos-offset="200"  data-aos-duration="1000"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27530.145697819866!2d-61.12748444080354!3d-30.400131299350083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a88446b32f717%3A0x51633cc46b3f35b0!2sCaffaLac!5e0!3m2!1ses!2sar!4v1647868345823!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="embed-responsive row col-md-4 col-sm-10 embed-responsive-16by9 map">
            <h1 class="text-center">Local Comercial</h1>
            <iframe data-aos="zoom-in" data-aos-offset="200"  data-aos-duration="1000"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5792.466908188457!2d-61.22526018494108!3d-30.3162188518866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944a7bf8ac21bee5%3A0x8befead84e1a3da4!2sDistribuidora%20Caffito!5e0!3m2!1ses!2sar!4v1647871056691!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <div class="col-md-6 mx-auto mt-sm-2">
        <h1 class="text-center">Contacto</h1>

        <form action="/" method="post">
            <div class="form-row" id="formulario">
                <div class="row mx-1 col-md-12 col-sm-12">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="email">EMAIL</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@email.com"
                        required>
                </div>
                <div class="form-group my-2">
                    <label for="tel"> <span>*</span> Teléfono</label>
                    <input type="text" id="telefono" name="tel" class="form-control" placeholder="Ingrese su Número">
                </div>
                <div class="form-group my-2">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="4" cols="25" maxlength="250"
                        required></textarea>
                </div>
                <button type="submit" class="btn btn-danger my-2">Enviar</button>
                <div id="message">
                    {{#if message}}
                    {{message}}
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
</div>