<div id="galeriaRural" class="galeria">
  <div id="carouselGaleria1" class="carousel slide carousel2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner carouselImage">
      <div class="carousel-item active">
        <img src="./images/Campo1.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage">
        <img src="./images/Campo2.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGaleria1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGaleria1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <button class="panel-btn2 hamburger hamburger--vortex is-active" id="btnQuit1" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</div>

<div id="galeriaFabrica" class="galeria">
  <div id="carouselGaleria2" class="carousel slide carousel2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner carouselImage">
      <div class="carousel-item active">
        <img src="./images/Campo1.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage">
        <img src="./images/Campo2.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGaleria2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGaleria2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <button class="panel-btn2 hamburger hamburger--vortex is-active" id="btnQuit2" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</div>

<div id="galeriaProductos" class="galeria">
  <div id="carouselGaleria3" class="carousel slide carousel2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner carouselImage">
      <div class="carousel-item active">
        <img src="./images/Campo1.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage">
        <img src="./images/Campo2.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGaleria3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGaleria3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <button class="panel-btn2 hamburger hamburger--vortex is-active" id="btnQuit3" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</div>

<div id="galeriaCaffito" class="galeria">
  <div id="carouselGaleria4" class="carousel slide carousel2" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner carouselImage">
      <div class="carousel-item active">
        <img src="./images/Campo1.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage">
        <img src="./images/Campo2.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item carouselImage mt-5">
        <img src="./images/Campo3.jpeg" class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGaleria4" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGaleria4" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <button class="panel-btn2 hamburger hamburger--vortex is-active" id="btnQuit4" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</div>