 <div id="historia" class="row align-items-center py-4 mt-5 col-md-12 fondo">
        <div class="col-lg-6 col-md-6 offset-1 d-none d-sm-block">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-5 mt-4">
            <h3>Historia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi voluptates, expedita sed quis eveniet reprehenderit! Culpa magni ut, quia tempore odio incidunt officia voluptas blanditiis dolore molestiae cum consequuntur?
            Beatae alias excepturi rerum voluptates hic obcaecati ea illo tempore molestias eaque pariatur eius, ab quod porro fugiat, magni, atque nisi perferendis dolorum. Eaque, reiciendis ex? Velit consectetur eligendi eum </p>
        </div>
    </div>