 <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white px-5">
        <a class="navbar-brand" href="/" id="logoCaffalac"><img src="./images/Caffalac-logo.jpeg" height="80px"
                width="150px" alt="Caffalac-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav fs-5 px-3 mt-3 text-center">
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="#">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="#historia">Historia</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" data-scroll href="#visitanos">Conocenos</a>
                </li>
            </ul>
        </div>
    </nav>



    