 <div id="historia" class="row align-items-center py-4 mt-5 col-md-12" >
     <div class="row" style="margin-left: 50px;">
        <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto ">
            <img src="./images/fabricaVintage1.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-right" data-aos-offset="250">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-4 mx-auto" id="historiaText" data-aos="fade-right" data-aos-offset="250">
            <p>Lorem Beatae alias excepturi rerum voluptates hic obcaecati ea illo tempore molestias eaque pariatur eius, ab quod porro fugiat, magni, atque nisi perferendis dolorum. Eaque, reiciendis ex? Velit consectetur eligendi eum </p>
        </div>
    </div>
    
    <div class="row mt-5 ">
       
        <div class="col-lg-4 col-md-8 col-sm-8 mt-0 mx-auto" id="historiaText" data-aos="fade-left" data-aos-offset="250">
           
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi voluptates, expedita sed quis eveniet reprehenderit! Culpa magni ut, quia tempore odio incidunt officia voluptas blanditiis dolore molestiae cum consequuntur?
            Beatae alias excepturi rerum voluptates hic obcaecati ea illo tempore molestias eaque pariatur eius, ab quod porro fugiat, magni, atque nisi perferendis dolorum. Eaque, reiciendis ex? Velit consectetur eligendi eum </p>
        </div>
         <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-left" data-aos-offset="250">
        </div>
    </div>

    <div class="row mt-5 mb-5" style="margin-left: 50px;">
        <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto">
            <img src="./images/fabricaVintage3.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-right" data-aos-offset="250">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8 mt-0 mx-auto" id="historiaText" data-aos="fade-right" data-aos-offset="250">
           
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi voluptates, expedita sed quis eveniet reprehenderit! Culpa magni ut, quia tempore odio incidunt officia voluptas blanditiis dolore molestiae cum consequuntur?
            Beatae alias excepturi rerum voluptates hic obcaecati ea illo tempore molestias eaque pariatur eius, ab quod porro fugiat, magni, atque nisi perferendis dolorum. Eaque, reiciendis ex? Velit consectetur eligendi eum </p>
        </div>
    </div>
</div>