 <div id="historia" class="row align-items-center py-4 mt-5 col-md-12" >
     <div class="row" style="margin-left: 50px;">
        <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto ">
            <img src="./images/fabricaVintage1.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-right" data-aos-offset="250">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-4 mx-auto" id="historiaText" data-aos="fade-right" data-aos-offset="250">
            <p class="d-flex align-items-center">
                “Lácteos Caffalac”, es una empresa familiar láctea ubicada en Ñanducita, a 20km de la 
                ciudad de San Cristóbal, provincia de Santa Fe.
                La misma se dedica a la producción, comercialización, venta y distribución de quesos
                duros, semiduros y blandos.
            </p>
        </div>
    </div>
    
    <div class="row mt-5 ">
       
        <div class="col-lg-4 col-md-8 col-sm-8 mt-0 mx-auto" id="historiaText" data-aos="fade-left" data-aos-offset="250">
           
            <p class="d-flex align-items-center">
                Diariamente recibe la materia prima principal de tambos de la zona sobre la que se 
                realizan los controles adecuados para la elaboración de su línea de productos.
                Todos los productos son elaborados con materia prima de 1º calidad.
                Se realizan permanentemente controles higiénicos sanitarios sobre toda la línea de 
                producción, almacenamiento y despacho.
            </p>
        </div>
         <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto">
            <img src="./images/Historia 3.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-left" data-aos-offset="250">
        </div>
    </div>

    <div class="row mt-5 mb-5" style="margin-left: 50px;">
        <div class="col-lg-4 col-md-4 d-none d-sm-block mx-auto">
            <img src="./images/fabricaVintage3.jpeg" alt="Historia 1" class="img-fluid rounded" id="historia1" data-aos="fade-right" data-aos-offset="250">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8 mt-0 mx-auto" id="historiaText" data-aos="fade-right" data-aos-offset="250">
            <p class="d-flex align-items-center">
                Actualmente Lácteos CaffaLac se encuentra en un proyecto de expansión de su línea 
                de producción, dedicando grandes esfuerzo y recursos para poder concretar su 
                estrategia, y llegar a su público actual y potencial, de una manera más interactiva, pero 
                manteniendo su estilo tradicional.
            </p>
        </div>
    </div>
</div>