    <a href="#" id="logoCaffalac"><img src="./images/Caffalac-logo.png" height="80px" width="150px"
        alt="Caffalac-logo"></a>
    <button class="panel-btn hamburger hamburger--vortex white" hamburger-layer-color="#000" !default; id="btn" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <aside class="panel" id="panel">
    <nav class="menu">
        <a href="#home">Home</a>
        <a href="#historia">Historia</a>
        <a href="#containerNosotros">Nosotros</a>
        <a href="#contacto">Contacto</a>
    </nav>
</aside>
